:root {
  --primary-color: #4747b1;
}

.navbar {
  --bs-primary-rgb: 71, 71, 177;
}

.navbar a.dropdown-item:hover,
.navbar-dark .navbar-nav .active > .nav-link {
  background-color: var(--primary-color);
}

.navbar-brand {
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
}

.navbar-dark input[type="search"] {
  background-color: #fff;
  color: #444;
}

a {
  color: var(--primary-color);

  &.nav-link {
    color: hsl(0, 0%, 80%);

    &:hover {
      color: hsl(0, 0%, 100%);
    }
  }
}

a:hover {
  color: #2c2b2b;
}

button.btn.btn-primary.btn-copy-ex {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.home {
  display: none;
  left: 0px;
  position: absolute;
  padding: 8px 30px;

  @media (min-width: 1250px) {
    display: initial;
  }
}

#version-switcher {
  margin-inline-start: 0.5rem;
  margin-inline-end: auto;

  @media (min-width: 992px) {
    margin-inline-end: 2rem;
  }

  & > a {
    background-color: hsl(240, 42.7%, 38.6%);
    padding: 0.25rem 1rem;
    border-radius: 1rem;
  }
}
